{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

{% endfor %}

  <h2>Dashboard</h2>
  <br/>

  <div class="card">
    <div class="card-header">
      {{ current_user.name }}
    </div>
    <div class="card-body">      
      <div class="container">
        <div class="row">
          <div class="col-8">
            <strong>Name:</strong> {{ current_user.name }}<br/>
            <strong>Username:</strong> {{ current_user.username }} <br/>
            <strong>User ID:</strong> {{ current_user.id }} <br/>
            <strong>Email:</strong> {{ current_user.email }} <br/>
            <strong>About Author:</strong> {{ current_user.about_author }} <br/>
            <strong>Date Joined:</strong> {{ current_user.date_added }} <br/><br/>
            <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Log Out</a>
            <a href="{{ url_for('user_update', id=current_user.id)}}" class="btn btn-secondary btn-sm">Edit User</a>
            <a href="{{ url_for('user_delete', id=current_user.id) }}" class="btn btn-danger btn-sm">🗑️</a>
            <br/><br/>
          </div>
          <div class="col-4">
            <img src="{{ url_for('static', filename='images/default-pfp.jpg') }}" width="200" align="right">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="card">
    <div class="card-header">
      Update Profile
    </div>
    <div class="card-body">
      <form action="/dashboard" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
    
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=user_to_update.name) }}
        
        <br/>
    
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=user_to_update.email) }}
        
        <br/>
    
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=user_to_update.username) }}
        
        <br/>

        {{ form.about_author.label(class="form-label") }}
        <textarea name="about_author" class="form-control">{{ user_to_update.about_author }}</textarea>

        <br/>

        {{ form.profile_pic.label(class="form-label") }}
        {{ form.profile_pic(class="form-control", value=user_to_update.profile_pic) }}
        
        <br/>
    
        {{ form.submit(class="btn btn-success btn-sm") }}
    
      </form>
    </div>
  </div>


{% endblock %}