{% extends 'base.html' %}

{% block content %}

  <br>
  <h2>You Searched For: <em>{{ searched }}</em> </h2>

  {% if posts %}

    {% for post in posts %}
    
    <div class="shadow p-3 mb-5 bg-white rounded">
      <h2>{{ post.title }}</h2>
      <small>By: {{ post.poster.name }}</small><br/>
      <small>{{ post.date_posted }}</small><br/><br/>
      {{ post.content|safe|trim }}<br/><br/>
      <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">View Blog</a>
      
      {% if post.poster_id == current_user.id %}
      
        <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">Edit Blog</a>
        <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-danger btn-sm">🗑️</a>

      {% endif %}
        
      </div>

    {% endfor %}

  {% else %}

    Sorry, your search term: <strong>{{ searched }}</strong> was not found...

  {% endif %}

{% endblock %}